---
component: Contact - Google Maps Block
---

<section class="p-contact-map">
  <div class="container-fluid no-pad no-max">

    <div class="col-md-6 mh no-pad">
      
    </div>


    <div class="col-md-3 col-sm-6 mh text-center extra-pad primary address-hold" data-overlay="9">
      <div class="holder">
        <div class="placer">
          <h2>London</h2>
          <p>101 London Bridge, SE88 0EB, London, UK
          </p>
        </div>
      </div>
    </div>

    <div class="col-md-3 col-sm-6 mh text-center extra-pad dark address-hold" data-overlay="9">
      <div class="holder">
        <div class="placer">
          <h2>Alexandria</h2>
          <p>320 Gamal Abdelnasser, Alexandria, Egypt</p>
        </div>
      </div>
    </div>

  </div>
</section>
