--- 
block: footer 
---
<footer>
    <div class="container">
        <div class="row">
            <div class="col-md-12 col-sm-12">
                <h4 style="color:white"> Here Comes the footer</h4>
            </div>
        </div>
    </div>
</footer>