// FONTS
@font-face {
	font-family: 'Material-Design-Iconic-Font';
	src: url('../fonts/Material-Design-Iconic-Font.woff2?v=2.2.0') format('woff2'),
		 url('../fonts/Material-Design-Iconic-Font.woff?v=2.2.0') format('woff'),
		 url('../fonts/Material-Design-Iconic-Font.ttf?v=2.2.0') format('truetype');
	font-weight: normal;
	font-style: normal;
  }
  /*
@font-face {
    font-family: 'FontAwesome';
    src: url('../fonts/fontawesome-webfont.eot?v=4.0.3');
    src: url('../fonts/fontawesome-webfont.eot?#iefix&v=4.0.3') format('embedded-opentype'), url('../fonts/fontawesome-webfont.woff?v=4.0.3') format('woff'), url('../fonts/fontawesome-webfont.ttf?v=4.0.3') format('truetype'), url('../fonts/fontawesome-webfont.svg?v=4.0.3#fontawesomeregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../fonts/MaterialIcons-Regular.eot); 
  src: local('Material Icons'),
       local('MaterialIcons-Regular'),
       url(../fonts/MaterialIcons-Regular.woff2) format('woff2'),
       url(../fonts/MaterialIcons-Regular.woff) format('woff'),
       url(../fonts/MaterialIcons-Regular.ttf) format('truetype');
}



@font-face {
    font-family: 'Conv_GE_SS_Two_Light';
    src: url('../fonts/GE_SS_Two_Light.eot')format('eot'),
		url('../fonts/GE_SS_Two_Light.woff') format('woff'),
		url('../fonts/GE_SS_Two_Light.ttf') format('truetype'),
		url('../fonts/GE_SS_Two_Light.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Conv_GE_SS_Two_Medium';
    src: url('../fonts/GE_SS_Two_Medium.eot')format('eot'),
		url('../fonts/GE_SS_Two_Medium.woff') format('woff'),
		url('../fonts/GE_SS_Two_Medium.ttf') format('truetype'),
		url('../fonts/GE_SS_Two_Medium.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Conv_GE_SS_Two_Bold';
    src: url('../fonts/GE_SS_Two_Bold.eot')format('eot'),
		url('../fonts/GE_SS_Two_Bold.woff') format('woff'),
		url('../fonts/GE_SS_Two_Bold.ttf') format('truetype'),
		url('../fonts/GE_SS_Two_Bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
	font-family: 'NotoNaskhArabic';
	src: url('../fonts/NotoNaskhArabic.eot');
	src: url('../fonts/NotoNaskhArabic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/NotoNaskhArabic.woff2') format('woff2'),
		url('../fonts/NotoNaskhArabic.woff') format('woff'),
		url('../fonts/NotoNaskhArabic.ttf') format('truetype'),
		url('../fonts/NotoNaskhArabic.svg#NotoNaskhArabic') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'NotoNaskhArabic-Bold';
	src: url('../fonts/NotoNaskhArabic-Bold.eot');
	src: url('../fonts/NotoNaskhArabic-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/NotoNaskhArabic-Bold.woff2') format('woff2'),
		url('../fonts/NotoNaskhArabic-Bold.woff') format('woff'),
		url('../fonts/NotoNaskhArabic-Bold.ttf') format('truetype'),
		url('../fonts/NotoNaskhArabic-Bold.svg#NotoNaskhArabic-Bold') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'NotoKufiArabic';
	src: url('../fonts/NotoKufiArabic.eot');
	src: url('../fonts/NotoKufiArabic.eot?#iefix') format('embedded-opentype'),
		url('../fonts/NotoKufiArabic.woff2') format('woff2'),
		url('../fonts/NotoKufiArabic.woff') format('woff'),
		url('../fonts/NotoKufiArabic.ttf') format('truetype'),
		url('../fonts/NotoKufiArabic.svg#NotoKufiArabic') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'NotoKufiArabic-Bold';
	src: url('../fonts/NotoKufiArabic-Bold.eot');
	src: url('../fonts/NotoKufiArabic-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/NotoKufiArabic-Bold.woff2') format('woff2'),
		url('../fonts/NotoKufiArabic-Bold.woff') format('woff'),
		url('../fonts/NotoKufiArabic-Bold.ttf') format('truetype'),
		url('../fonts/NotoKufiArabic-Bold.svg#NotoKufiArabic-Bold') format('svg');
	font-weight: normal;
	font-style: normal;
}
*/