@mixin hide {
    width: 0;
    height: 0;
    background: transparent;
    border: none;
    display: none !important; 
}

@mixin hideText {
    font: 0/0 a;
    color: transparent;
    text-shadow: none;
}

// This is to override the clearfix mixin
@mixin clearfix {
  &:before,
  &:after {
    content: " ";
    display: table;
  }
  &:after {
    clear: both;
  }
}

/* === Calc Mixin ==== */
/* ==== Usage example
@include calc( width, '100% - 2px');
===================*/
@mixin calc($property, $expression) {
  #{$property}: -moz-calc(#{$expression});
  #{$property}: -webkit-calc(#{$expression});
  #{$property}: calc(#{$expression});
}

/* This is to override the box-sizing mixin in compass so that the deprecated warning doesn't show */
@mixin box-sizing($box-model: $default-box-sizing) {
    @if type-of($box-model) == string {
        $box-model: unquote($box-model);
    }
    @include prefixed-properties(css3-boxsizing, $box-sizing-support-threshold, (box-sizing: $box-model));
}

@mixin backgroundImage($image, $size: initial, $horizontal: center, $vertical: center, $repeat: no-repeat) {
    background-image: url("../images/" + $image);
    background-size: $size;
    background-position: $horizontal $vertical;
    background-repeat: $repeat;
}

@mixin headingFont($font: $hFont, $size: 24, $weight: noraml) {
    font-family: $font;
    font-size: $size + px;
    font-weight: $weight;
}

@mixin bodyFont($font: $bodyFont, $size: 16, $weight: noraml) {
    font-family: $font;
    font-size: $size + px;
    font-weight: $weight;
}

@mixin button($bgColor: #333, $borderColor: #333, $hoverColor: #333, $hoverBg: $white, $hoverBorder: #333, $borderWidth: 1, $borderRadius: 3, $textColor: $white, $height: 30, $font: $hFont, $fontSize: 12, $fontWeight: 400, $letterSpace: 0, $padding: 15) {

    padding: 0 $padding + px;
    border-radius: $borderRadius + px;
    background: $bgColor;
    height: $height + px;
    line-height: ($height - 1) + px;
    color: $textColor;
    border: solid $borderWidth + px $borderColor;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    font-family: $font;
    font-size: $fontSize + px;
    font-weight: $fontWeight;
    text-transform: uppercase;
    letter-spacing: $letterSpace + px;
    outline: none;

    &:hover {
        color: $hoverColor;
        background: $hoverBg;
        border-color: $hoverBorder;
    }
}

@mixin sectionHeader($font: $bodyFont, $size: 36, $textColor: $congressblue) {
    width: 100%;
    clear: both;

    h3 {
        font-family: $font;
        font-size: $size + px;
        color: $textColor;
        text-align: center;

        @include breakpoint(max-width $phoneLandscape) {
            font-size: 24px;
        }
    }
}