.messages_centre {
    display: flex;
    width: 100%;
    position: relative;
    overflow: hidden;
    box-shadow: 0 4px 14px rgba(0, 0, 0, .1);
    .contacts_list {
        padding: 20px;
        width: 400px;
        max-width: 400px;
        border-right: 1px solid $galery;
        .search {
            background: $secondaryColor;
            position: relative;
            padding: 20px;
            margin: -20px -20px 0;
            &:before {
                content: "\f1c3";
                font-family: $mIcon;
                position: absolute;
                left: 30px;
                top: 26px;
                font-size: 20px;
                color: $secondaryColor;
                border: 0;
                -webkit-font-smoothing: antialiased;
                text-rendering: optimizeLegibility;
                -moz-osx-font-smoothing: grayscale;
                font-feature-settings: 'liga';
            }
            input {
                padding-left: 35px;
                &::-webkit-input-placeholder,
                &::-moz-placeholder,
                &::-ms-placeholder {
                    color: rgba(255, 255, 255, 0.5) !important;
                }
            }
        }
        .contacts {
            ul {
                list-style: none;
                padding: 0;
                margin: 0;
                li {
                    transition: all .3s;
                    &.unseen h4 {
                        font-weight: bold;
                    }
                    margin: 0 -20px;
                    padding: 0 20px;
                    border-left: 3px solid transparent;
                    &.active {
                        border-color: $primaryColor;
                        &:hover {
                            background: $primaryColor;
                            color: white;
                            a,
                            span {
                                color: white;
                            }
                        }
                    }
                    a {
                        text-decoration: none;
                        display: flex;
                        align-items: center;
                        padding: 20px 0;
                        border-bottom: 1px solid $galery;
                        color: black;
                    }
                    &:hover {
                        background: $galery;
                    }
                }
            }
            figure {
                width: 50px;
                height: 50px;
                overflow: hidden;
                margin-right: 10px;
            }
            figcaption {
                h4 {
                    font-size: 16px;
                    margin: 0;
                }
                p {
                    margin: 0;
                    font-size: 14px;
                    margin-top: 5px;
                    max-width: 150px;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    white-space: nowrap;
                }
            }
            span {
                align-self: flex-start;
                flex: 1;
                font-size: 12px;
                font-weight: 500;
                white-space: nowrap;
                color: $dustyGray;
                text-align: right;
                margin-left: 10px;
            }
        }
    }
    .chat_body {
        .chat_head {
            background: $secondaryColor;
            padding: 20px;
            display: flex;
            align-items: center;
            height: 80px;
            h4 {
                margin: 0;
                font-weight: bold;
                flex: 1;
                color: white;
                display: flex;
                align-items: center;
                i {
                    margin-right: 10px;
                }
            }
            button {
                background: none;
                i {
                    font-size: 25px;
                    opacity: .5;
                }
            }
            .contacts_list_Toggle {
                background: none;
                border: 0;
                color: #fff;
                padding: 0;
                margin-right: 15px;
                line-height: 1;
                position: relative;
                left: 0;
                i {
                    opacity: 1;
                }
            }
        }
        .body {
            padding: 10px 0;
            max-height: 600px;
            overflow: auto;
            .user {
                display: block;
                overflow: auto;
                overflow-y: hidden;
                padding: 10px 20px;
                .left {
                    float: right;
                    figure {
                        width: 40px;
                        height: 40px;
                        overflow: hidden;
                        float: right;
                    }
                    span {
                        float: right;
                        clear: right;
                        margin-top: 8px;
                        font-size: 13px;
                        text-align: center;
                        width: 100%;
                        opacity: .5;
                    }
                }
                &.current .left {
                    float: left;
                    figure {
                        float: left;
                    }
                    span {
                        float: left;
                        clear: left;
                    }
                }
                .sent_message {
                    background: white;
                    margin-right: 70px;
                    padding: 10px;
                    font-size: 13px;
                    position: relative;
                    border: 1px solid $galery;
                    &:before {
                        left: 100%;
                        top: 20px;
                        border: solid transparent;
                        content: " ";
                        height: 0;
                        width: 0;
                        position: absolute;
                        pointer-events: none;
                        border-color: rgba(136, 183, 213, 0);
                        border-left-color: $galery;
                        border-width: 6px;
                    }
                }
                &.current .sent_message {
                    color: black;
                    background: $galery;
                    margin-left: 70px;
                    margin-right: 0;
                    border: 0;
                    &:before {
                        border-right-color: $galery;
                        left: inherit;
                        right: 100%;
                        border-left: 0;
                    }
                }
            }
        }
        .type_message {
            background: white;
            padding: 20px;
            border-top: 1px solid $galery;
            overflow: auto;
            display: flex;
            align-items: center;
            input {
                border: 0;
                outline: 0;
                flex: 1;
                padding-right: 20px;
            }
            button {
                padding: 0;
                height: auto;
                color: $secondaryColor;
            }
        }
    }
    @media(max-width:$phablet) {
        .contacts_list_Toggle {
            transition: left .5s;
            outline: 0;
            &.active {
                left: 295px !important;
                transform: scale(-1,1);
            }
        }
        .contacts_list {
            position: absolute;
            max-width: 300px;
            left: -100%;
            border: 0;
            background: #fff;
            z-index: 99;
            box-shadow: 0 4px 14px rgba(0, 0, 0, .1);
            top: 0;
            bottom: 0;
            transition: left .5s;
            &.active {
                left: 0;
            }
        }
    }
}