--- component: Homepage Featured Casestudy CTA ---
<section class="p-work-project  no-pad" data-overlay="5">

  <div class="no-pad">
    <div class="row-fluid no-pad">

      <div style="height: 100vh; overflow: auto" class="col-sm-4  no-pad">


        <div>
          <div class="col-md-12">
            asd
          </div>
        </div>


        <div class="p-work-project__info p-work-project__info--Savills">
          <h5>Featured Project</h5>
          <h2>Savills</h2>
          <p>Sea Company on Tour</p>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos ab, ut cum optio odio, animi cupiditate, exercitationem
            doloremque.</p>
        </div>

        <div class="p-work-project__info p-work-project__info--Savills">
          <h5>Featured Project</h5>
          <h2>Savills</h2>
          <p>Sea Company on Tour</p>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos ab, ut cum optio odio, animi cupiditate, exercitationem
            doloremque.</p>
        </div>

        <div class="p-work-project__info p-work-project__info--Savills">
          <h5>Featured Project</h5>
          <h2>Savills</h2>
          <p>Sea Company on Tour</p>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos ab, ut cum optio odio, animi cupiditate, exercitationem
            doloremque.</p>
        </div>

        <div class="p-work-project__info p-work-project__info--Savills">
          <h5>Featured Project</h5>
          <h2>Savills</h2>
          <p>Sea Company on Tour</p>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos ab, ut cum optio odio, animi cupiditate, exercitationem
            doloremque.</p>
        </div>

         <div class="p-work-project__info p-work-project__info--Savills">
          <h5>Featured Project</h5>
          <h2>Savills</h2>
          <p>Sea Company on Tour</p>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos ab, ut cum optio odio, animi cupiditate, exercitationem
            doloremque.</p>
        </div>

        <div class="p-work-project__info p-work-project__info--Savills">
          <h5>Featured Project</h5>
          <h2>Savills</h2>
          <p>Sea Company on Tour</p>

          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Quos ab, ut cum optio odio, animi cupiditate, exercitationem
            doloremque.</p>
        </div>

      </div>

      <div class="col-sm-8 no-pad">
        <section class="no-pad">
          <div id="axetayMap" style="height:100vh;"></div>
          <script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCt7Fb4bN6gKIzIfE-x4k5WCuHixqzvnXs&callback=initMap" async defer></script>
          <script src="js/maps.js"></script>
        </section>
      </div>  
    </div>
  </div>

</section>