// -----------------------------------------------------------------------------
// This file contains all styles related to the pages Hero section component.
// -----------------------------------------------------------------------------
.c-hero {
	position: relative;

	display: block;
	overflow: hidden;

	margin-bottom: 0;
	padding: 0;

	background-color: black;

	//Modiefier - Full height (vh) hero section
	&--fullheight {
		height: 90vh;

		@extend .c-hero;
	}

	&--halfheight {
		height: 65vh;

		@extend .c-hero;
	}




	//Element - Inner content of the Hero
	&__inner {
		position: relative;
		z-index: 2;

		display: block;

		height: 100%;
	}




	&__content {
		text-align: center;

		@include respond-to(xs) {
			&-content {
				padding: 60px;

				text-align: center;
			}

			&-header {
				font-size: 24px;
			}

			&-subheader {
				font-size: 15px;
			}
		}

		&-header {
			font-size: 35px;

			color: white;
		}

		&-subheader {
			font-family: $font-family-sans-serif;
			font-size: 20px;
			font-weight: lighter;

			color: white;
		}
	}
}

