/* ================ GLOBAL STYLES ================ */

html,
body {
	height: 100%;
}

div.globalWrapper {
	display: flex;
	flex-direction: column;
	min-height: 100%;
	// direction: rtl;
} //globalWrapper
body {
	@include bodyFont;
	color: black;
	@include clearfix;
	// replace transition with some autoprifixer syntax
	a,
	button,
	input {
		text-decoration: none;
		transition: all .3s;
	}
	position: relative;
	left: 0;
	overflow-x: hidden;
	overflow-y: auto;
	transition: left .5s cubic-bezier(0.4, 0, 0.2, 1) 0.2s;
	// important for the mmenu plugin to work correctly
	background: $white;
	&.menu_opened {
		position: relative;
		left: 260px;
	}
}

.mIcon {
	font-family: $mIcon;
	font-weight: normal !important;
	font-style: normal !important;
	font-size: 24px;
	/* Preferred icon size */
	/*display: inline-block;*/
	line-height: 1;
	text-transform: none;
	letter-spacing: normal;
	word-wrap: normal;
	white-space: nowrap;
	direction: ltr;
	-webkit-font-smoothing: antialiased;
	text-rendering: optimizeLegibility;
	-moz-osx-font-smoothing: grayscale;
	font-feature-settings: 'liga';
}

@media print {
	.noPrint,
	.noPrint * {
		display: none !important;
	}
}

img {
	font-size: 0;
	color: $white;
	max-width: 100%;
	height: auto;
	display: inline-block;
	vertical-align: middle;
}

.expiry_date {
	color: $cinnabar !important;
}

.grey {
	color: $dustyGray;
}

::selection {
	background: $primaryColor;
	color: $white;
}

::-moz-selection {
	background: $primaryColor;
	color: $white;
}

.page-title {
	margin-top: 0;
	margin-bottom: 30px;
	display: flex;
	align-items: center;
	i {
		color: $primaryColor;
		width: 35px;
		height: 35px;
		text-align: center;
		font-size: 30px;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		margin-right: 10px;
	}
}

footer {
	margin-top: auto;
	padding: 10px;
	text-align: center;
}

main {
	padding: 60px 0 90px;
}

.no_margin {
	margin: 0 !important;
}

.section {
	margin-bottom: 30px;
	padding-bottom: 30px;
	border-bottom: 2px dashed $alto;
	&:last-child {
		margin-bottom: 0;
		padding-bottom: 0;
		border-bottom: 0;
	}
	.section_head {
		display: flex;
		align-items: center;
		margin-bottom: 20px;
		h2 {
			margin-top: 0;
			margin-bottom: 0;
			padding-right: 5px;
		}
		a {
			display: flex;
			align-items: center;
			margin-left: auto;
			color: $primaryColor;
			text-decoration: none;
			white-space: nowrap;
			i {
				margin-right: 5px;
			}
			&:hover {
				color: darken($primaryColor, 20%);
			}
		}
	}
}

.same_height {
	display: flex;
	iframe {
		height: 100%;
	}
	@media(max-width:$tablet) {
		flex-direction: column;
		iframe {
			height: 250px;
		}
		>div {
			margin-bottom: 30px;
		}
	}
}


/* Datepicker */

.bootstrap-datetimepicker-widget {
	box-shadow: 0 4px 14px rgba(0, 0, 0, .1);
	border: 0;
	border-radius: 0;
	.glyphicon {
		display: none;
	}
	table {
		th {
			border-radius: 0;
			&.next:before {
				content: "\f2fb";
				font-family: $mIcon;
				font-size: 21px;
			}
			&.prev:before {
				content: "\f2fa";
				font-family: $mIcon;
				font-size: 21px;
			}
		}
		td {
			border-radius: 0;
			&.active,
			&.active:hover {
				background: $primaryColor;
			}
		}
	}
}


/* Alerts */

.alert {
	background: none;
	border-radius: 0;
	display: flex;
	&:before {
		font-family: $mIcon;
		font-size: 20px;
		margin-right: 15px;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		text-rendering: optimizeLegibility;
		-moz-osx-font-smoothing: grayscale;
		font-feature-settings: 'liga';
	}
	&.alert-success {
		color: $shamrock;
		border-color: $shamrock;
		&:before {
			content: "\f26b";
		}
	}
	&.alert-danger {
		color: $cinnabar;
		border-color: $cinnabar;
		&:before {
			content: "\f136";
		}
	}
	&.alert-warning {
		color: $buttercup;
		border-color: $buttercup;
		&:before {
			content: "\f1f4";
		}
	}
	&.alert-info {
		color: $downy;
		border-color: $downy;
		&:before {
			content: "\f1f7";
		}
	}
}


/* Tables */

.table-responsive {
	border: 0 !important;
}

.table {
	>thead>tr>th {
		border-bottom-width: 1px;
		vertical-align: middle;
		border-color: $galery;
		padding: 0 0 8px 8px;
	}
	>tbody>tr>td {
		vertical-align: middle;
		border-color: $galery;
		h4 {
			margin-top: 0;
			margin-bottom: 5px;
		}
		p {
			&:last-child {
				margin-bottom: 0;
			}
		}
		b {
			display: none;
		}
	}
	.actions {
		white-space: nowrap;
		.btn {
			margin: 0 2px;
		}
	}
	&.table-default {
		thead th {
			background: $galery;
		}
	}
	&.table_colored {
		thead th {
			background: $secondaryColor;
			color: #fff;
			padding: 15px
		}
		tbody td {
			padding: 10px 15px;
		}
	}
	@media(max-width:$tablet) {
		&.wraped_table {
			border: 0;
			thead {
				display: none;
			}
			tbody {
				tr {
					display: block;
					padding-bottom: 15px;
					margin-bottom: 15px;
					border-bottom: 1px solid $alto;
					td {
						border: 0;
						padding: 0 0 15px;
						display: block;
						b {
							display: inline-block;
							margin-right: 5px;
							font-size: 15px;
						}
						&:last-child {
							padding: 0;
						}
						&.text-center {
							text-align: left;
						}
					}
					&:last-child {
						padding-bottom: 0;
						margin-bottom: 0;
						border-bottom: 0;
					}
				}
			}
			&.table-striped {
				tbody {
					tr {
						padding: 15px;
						margin: 0;
					}
				}
			}
		}
	}
}


/* Dropdowns */

.dropdown {
	.dropdown-menu {
		border: 0;
		border-radius: 0;
		box-shadow: 0 4px 14px rgba(0, 0, 0, .1);
		font-size: 13px;
		a {
			display: flex;
			align-items: center;
			padding: 5px 10px;
			i {
				margin-right: 10px;
				font-size: 16px;
			}
		}
		&:after {
			bottom: 100%;
			left: 0;
			border: solid transparent;
			content: " ";
			height: 0;
			width: 0;
			position: absolute;
			pointer-events: none;
			border-color: rgba(136, 183, 213, 0);
			border-bottom-color: white;
			border-width: 8px;
			margin-left: 8px;
		}
	}
}


/* Buttons */

a.btn {
	display: flex;
	align-items: center;
	justify-content: center;
}

.btn {
	border: 0;
	height: 38px;
	padding: 5px 20px;
	font-weight: 500;
	border-radius: 0;
	&.has_icon {
		i {
			margin-right: 5px;
			font-size: 18px;
		}
	}
	&.btn-icon {
		width: 35px;
		height: 35px;
		border-radius: 50%;
		padding: 0;
		display: inline-flex;
		justify-content: center;
		align-items: center;
		i {
			font-size: 20px;
		}
	}
	&.btn-primary {
		background: $primaryColor;
		&:hover,
		&:active,
		&:focus {
			background: darken($primaryColor, 10%);
			box-shadow: none;
		}
	}
	&.btn-danger {
		background: $cinnabar;
		&:hover,
		&:active,
		&:focus {
			background: darken($cinnabar, 10%);
			box-shadow: none;
		}
	}
	&.btn-warning {
		background: $buttercup;
		&:hover,
		&:active,
		&:focus {
			background: darken($buttercup, 10%);
			box-shadow: none;
		}
	}
	&.btn-info {
		background: $downy;
		&:hover,
		&:active,
		&:focus {
			background: darken($downy, 10%);
			box-shadow: none;
		}
	}
	&.btn-success {
		background: $shamrock;
		&:hover,
		&:active,
		&:focus {
			background: darken($shamrock, 10%);
			box-shadow: none;
		}
	}
	&.btn-basic {
		background: $porcelain;
		&:hover,
		&:active,
		&:focus {
			background: darken($porcelain, 10%);
			box-shadow: none;
		}
	}
}


/* Form Controls */

fieldset {
	margin-bottom: 30px;
	padding-bottom: 30px;
	border-bottom: 2px dashed $alto;
	&:last-child {
		margin-bottom: 0;
		padding-bottom: 0;
		border-bottom: 0;
	}
}

.control-label {
	text-align: left !important;
	padding-top: 10px !important;
	font-weight: normal;
}

label.error {
	margin: 15px 0 15px;
	color: #E74C3C;
	font-weight: normal;
	display: block;
	text-align: center;
	.checkbox & {
		position: static;
		display: inline-flex;
		margin-right: 10px;
		padding: 0;
		&~label {
			display: inline-flex;
		}
	}
}

.form-control {
	box-shadow: none;
	border-color: $alto;
	height: 40px;
	border-radius: 0;
	transition: all .3s !important;
	&:focus {
		box-shadow: none;
		border-color: $primaryColor;
	}
	&.error {
		border-color: $cinnabar;
		padding-right: 78px;
	}
}

.change {
	position: absolute;
	right: 25px;
	top: 10px;
	font-size: 14px;
}

.search_input {
	position: relative;
	&:before {
		content: "\f1c3";
		font-family: $mIcon;
		position: absolute;
		left: 30px;
		top: 7px;
		font-size: 20px;
		color: $secondaryColor;
		border: 0;
		-webkit-font-smoothing: antialiased;
		text-rendering: optimizeLegibility;
		-moz-osx-font-smoothing: grayscale;
		font-feature-settings: 'liga';
	}
	input {
		padding-left: 35px;
		&::-webkit-input-placeholder,
		&::-moz-placeholder,
		&::-ms-placeholder {
			color: rgba(255, 255, 255, 0.5) !important;
		}
	}
}

select {
	&.form-control {
		appearance: none;
		background: $white url(../images/select_arrow.png) no-repeat right 10px center;
		background-size: 22px;
	}
}

textarea {
	&.form-control {
		height: 100px;
		resize: none;
	}
}

.checkbox {
	display: flex;
	align-items: center;
	input {
		display: none;
		&:checked~label {
			&:before {
				background: $primaryColor;
				border-color: $primaryColor;
			}
			&:after {
				transform: scale(1)
			}
		}
		&.error~label:before {
			border-color: $cinnabar
		}
	}
	label:not(.error) {
		position: relative;
		display: flex;
		align-items: flex-start;
		padding: 0;
		font-weight: normal;
		&:before {
			content: "";
			width: 20px;
			height: 20px;
			border: 1px solid $alto;
			margin-right: 10px;
			min-width: 20px;
			background: transparent;
			transition: all .3s;
		}
		&:after {
			content: "\f26b";
			font-family: $mIcon;
			-webkit-font-smoothing: antialiased;
			text-rendering: optimizeLegibility;
			-moz-osx-font-smoothing: grayscale;
			font-feature-settings: 'liga';
			position: absolute;
			left: 4px;
			top: 0px;
			color: $white;
			transform: scale(0);
			transition: all .3s;
		}
	}
}

.checkbox-inline {
	@extend .checkbox;
	display: inline-flex;
	padding: 0;
	&+.checkbox-inline {
		margin-left: 20px;
	}
}

.radio {
	display: flex;
	align-items: center;
	input {
		display: none;
		&:checked~label {
			&:after {
				transform: scale(1);
			}
		}
	}
	label:not(.error) {
		position: relative;
		display: flex;
		align-items: flex-start;
		padding: 0;
		font-weight: normal;
		&:before {
			content: "";
			width: 20px;
			height: 20px;
			border: 1px solid $alto;
			margin-right: 10px;
			min-width: 20px;
		}
		&:after {
			content: "";
			width: 10px;
			height: 10px;
			background: $primaryColor;
			position: absolute;
			left: 5px;
			top: 5px;
			color: $white;
			transform: scale(0);
			transition: all .3s;
		}
	}
}

.radio-inline {
	@extend .radio;
	display: inline-flex;
	padding: 0;
	&+.radio-inline {
		margin-left: 20px;
	}
}


/* Modal */

.modal {
	.modal-header {
		border-color: $galery;
	}
	.modal-footer {
		border-color: $galery;
	}
}


/* DL */

dl {
	max-width: 500px;
	border: 1px solid $alto;
	padding: 15px;
	&:before,
	&:after {
		display: table;
		content: " ";
	}
	&:after {
		clear: both;
	}
	dt,
	dd {
		float: left;
		margin-bottom: 10px;
	}
	dt {
		width: 210px;
		clear: both;
	}
	dd {
		width: calc(100% - 210px);
	}
	@media(max-width:$phablet) {
		max-width: 100%;
		dd,
		dt {
			width: auto;
		}
		dt {
			margin-bottom: 0;
		}
		dd {
			clear: left
		}
	}
}


/* Autocomplete */

.autocomplete {
	list-style: none;
	padding: 5px 0;
	background: $white;
	position: absolute;
	left: 15px;
	right: 15px;
	top: 30px;
	z-index: 9;
	opacity: 0;
	visibility: hidden;
	transition: all .3s;
	box-shadow: 0 1px 14px rgba(0, 0, 0, .1);
	&:after,
	&:before {
		bottom: 100%;
		left: 50%;
		border: solid transparent;
		content: " ";
		height: 0;
		width: 0;
		position: absolute;
		pointer-events: none;
	}
	&:after {
		border-color: rgba(136, 183, 213, 0);
		border-bottom-color: white;
		border-width: 8px;
		margin-left: -8px;
	}
	&:before {
		border-color: rgba(194, 225, 245, 0);
		border-bottom-color: rgba(0, 0, 0, .03);
		border-width: 10px;
		margin-left: -10px;
	}
}

.has_autocomplete:focus+.autocomplete {
	top: 55px;
	opacity: 1;
	visibility: visible;
}

.arrow_box:after,
.arrow_box:before {
	bottom: 100%;
	left: 50%;
	border: solid transparent;
	content: " ";
	height: 0;
	width: 0;
	position: absolute;
	pointer-events: none;
}

.autocomplete li a {
	padding: 10px 15px;
	display: block;
	text-decoration: none;
	color: $dustyGray;
	&:hover {
		background: $galery;
		color: black;
	}
}


/* Internal */

.sorting {
	display: flex;
	align-items: center;
	margin-bottom: 10px;
	&:before {
		content: "\f1ce";
		font-family: $mIcon;
		-webkit-font-smoothing: antialiased;
		text-rendering: optimizeLegibility;
		-moz-osx-font-smoothing: grayscale;
		font-feature-settings: 'liga';
		font-size: 21px;
	}
	select {
		border: 0;
		width: auto;
		padding-right: 25px;
		background-position: right center;
	}
}

.section {
	.search {
		background: $galery;
		padding: 15px;
		h3 {
			margin-top: 0;
		}
		form {
			display: flex;
			.form-control {
				margin-right: -1px;
			}
			.btn {
				height: 40px;
			}
		}
		@media(max-width:$phablet) {
			form {
				flex-direction: column;
				.form-control {
					margin-right: 0;
					margin-bottom: -1px;
				}
			}
		}
	}
}

@media(max-width:$desktopSmall) {
	.container {
		width: 100%;
	}
}

@media(max-width:$tablet) {
	h1 {
		font-size: 30px;
	}
	h2 {
		font-size: 24px;
	}
}